.page-content {
  margin: 0 200px;
}

.spinner {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #300c38;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: s3 1s infinite linear;
  margin: auto;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

.dogs-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  background-color: #fffdf9;
  padding: 16px;
}

@media (max-width: 1250px) {
  .dogs-container {
    background-color: #fff;
    padding: none;
  }
}

.MuiPaper-root.dog-profile {
  flex: 0 0 220px;
  background-color: #fff6ec;
  padding: 16px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(213, 213, 213);
}
.MuiPaper-root.dog-profile:hover {
  transform: scale(1.05);
}

.MuiSvgIcon-root.favorite {
  color: red;
  border: none;
}
.MuiSvgIcon-root.not-favorite {
  color: gray;
  border: none;
}

.dog-image-container {
  display: flex;
  height: 130px;
}

.dog-image {
  margin: auto;
  height: 120px;
}

.bottom-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0px;
  position: relative;
}

@media (max-width: 1250px) {
  .bottom-buttons {
    justify-content: center;
    flex-direction: column;
  }
}

.page-buttons {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 1250px) {
  .page-buttons {
    position: relative;
    left: 0;
    transform: none;
  }
}

.page-button {
  margin: 0px 10px;
}

.match-button-bottom-container {
  margin-left: auto;
}

@media (max-width: 1250px) {
  .match-button-bottom-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
}

.match-button-bottom {
  background-color: #300c38;
  color: white;
}

@media (max-width: 860px) {
  .match-button-bottom {
    display: flex;
    justify-content: center;
  }
}
.match-button-bottom:hover {
  background-color: #fff;
  border: 0.5px solid #300c38;
  color: black;
}
